@import "./reset";
@import "./variables";

.theme-root {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2rem;
	flex-direction: column;
	height: 100vh;

	

	

	#form-3 {
		display: flex;
		justify-content: space-between;
		align-items: center;
		// background-color: $theme-carrot;

		.save-pwd {
			input {
				margin-right: 0.5rem;
			}
			// color: $theme-carrot;
		}
	}

	#form-4 {
		margin-bottom: 0;
		a {
			color: $theme-blue;
			text-decoration: none;
		}
	}
}